%h1.page-header= t('main.about')



%p
  Neural Image Rater — приложение для оценки картинок, сгенерированных нейронными сетями
  через #{link_to 'ArtBreeder', 'https://www.artbreeder.com/'}.
  Изображения разбиты на несколько тематик: пейзажи, художественные картины и обложки музыкальных альбомов.
  Пользователи могут #{link_to 'оценить', work_path} изображения по 100-балльной шкале и затем посмотреть результаты оценок других посетителей сайта.

%p Проект разраотан в учебных целях с использованием фреймворка Ruby on Rails.