.header {
  font-size: 22px;
  background-image: linear-gradient(to right, #FD6585, #FFD3A5);
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

.header li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  color: white;
}

.header .gravatar {
  height: 66px;
}