.page-header {
  margin: 20px 0;
}

button > a,
input[type=submit] > a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: -10px -20px;
}

button > a:hover,
input[type=submit] > a:hover {
  color: #fff !important;
  text-decoration: none;
}


button, input[type=submit] {
  font-size: 20px;
  color: #fff;
  background-color: #FD6585 !important;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 1;
  height: 48px;
  max-height: 48px;
  min-height: 48px;
}

button:hover, input[type=submit]:hover {
  opacity: 0.8;
}

input, select {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FD6585 !important;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  min-width: 10px;
  height: 48px;
  max-height: 48px;
  min-height: 48px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 6px 10px;
  font-size: 20px;
}


label {
  font-size: 18px;
}