.image {
  margin-top: 10px;
}

.left_controls {
  height: 100%;
  padding-top: 100px;
  text-align: center;

  button, select {
    margin-bottom: 20px;
    min-width: 200px;
  }
}

.rate_image {
  margin-top: 100px;
  display: none;
}

.img-center {
  display:flex;
  justify-content:center;
  overflow:hidden;
}

.img-center > img {
  width:auto;
  height:auto;
  max-height:500px;
}

.img-left-side,
.img-right-side {
  display: none;
}

.up {
  visibility: hidden;
}

.slider-container {
  margin-top: 20px;
}

#slider {
  width: 100%;
}

p.left {
  font-size: 1.5em;
  font-weight: bold;
  top: 0.5em;
}

p.right {
  margin-left: -0.5em;
  font-size: 1.5em;
  font-weight: bold;
  top: 0.5em;
}

input[type='range'] {
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
}

.button__results {
  margin-top: 20px;
}

#chosen_value {
  border-radius: 10px;
  border-color: #FD6585;
  border-width: 1px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  float: left;
}

.image_stats {
  margin-top: 10px;
}

span.common_value, span.user_value, .total_values {
  text-align: center;
  position: relative;
  display: none;
  height: 3em;

  h4 {
    display: inline-block
  }
}

span.total_values {
  display: block;
}


.results_list {
  position: relative;
  margin: .7em auto auto;
  padding: .4em;
  width: 95%;
  border-radius: .5em;

  th, tr, td {
    padding: 10px;
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}